# Source code and notes-to-self
src/__pycache__/
src/test
meta/

# Image files are generated progamatically adding them to version control would
# be redundant
*.pdf
*.jpg

# LaTeX compilation files
_minted-report
*-log.txt
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
